<p id="notice"><%= notice %></p>

<p>
  <strong>Case type:</strong>
  <%= @problem_case.case_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @problem_case.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @problem_case.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @problem_case.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @problem_case.longitude %>
</p>

<p>
  <strong>Time:</strong>
  <%= @problem_case.time %>
</p>

<%= link_to 'Edit', edit_problem_case_path(@problem_case) %> |
<%= link_to 'Back', problem_cases_path %>
