<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers(<%=raw @hash.to_json %>);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
   google.maps.event.addListener(handler.getMap(), "click", function(e) {
     $('#user_lat').val(e.latLng.lat());
     $('#user_lng').val(e.latLng.lng());

     /* handler.addMarkers(
      *   [
      *     {
      *       lat: e.latLng.lat(),
      *       lng: e.latLng.lng(),
      *       picture: {
      *         url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      *         width: 36,
      *         height: 36
      *       }
      *     }
      *   ],
      *   {draggable: true}
      * )*/
     // alert("You clicked the map.");
     // alert("" + e.latLng.lng() + " / " + e.latLng.lat());
   });
 });

</script>
