<h1>事例マップ</h1>
<div>
  <p id="notice"><%= notice %></p>
</div>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<div>
  <div>
    <% if @me.nil? %>
      <h2> <%= link_to 'Facebookでログイン', '/auth/facebook' %>すれば事例を追加 & 通知を受け取ることができます </h2>
    <% else %>
      <h2> <%=link_to '事例の追加', new_problem_case_path %></h2>
      <li><%= link_to '通知メール受取などの変更', edit_user_path(@me.id) %></li>
      <li><%= link_to 'ログアウト', '/logout' %></li>
    <% end %>
  </div>
  <h2>最近あった事例100件</h2>
  <table border="1">
    <tr>
      <th>
        事例
      </th>
      <th>
        場所(緯度・経度より)
      </th>
      <th>
        発生日時
      </th>
      <th>
        詳細
      </th>
    </tr>
    <% ProblemCase.all.order(created_at: :desc).limit(100).each do |r| %>
      <tr>
        <td>
          <%= r.case_type.name %>
        </td>
        <td>
          <%= r.address %>
        </td>
        <td>
          <%= r.time %>
        </td>
        <td>
          <%= r.description %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers(<%=raw @markers.to_json %>);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
 });

</script>
