<h1>事例マップ</h1>
<div>
  <h2>最近あった事例10件</h2>
  <table border="1">
    <tr>
      <th>
        事例
      </th>
      <th>
        場所
      </th>
      <th>
        発生日時
      </th>
      <th>
        詳細
      </th>
    </tr>
    <% User.all.order(created_at: :desc).limit(10).each do |r| %>
      <tr>
        <td>
          <%= r.title %>
        </td>
        <td>
          <%= r.address%>
        </td>
        <td>
          <%= r.created_at %>
        </td>
        <td>
          <%= r.description %>
        </td>
      </tr>
    <% end %>
  </table>
  <div>
    <%=link_to '事例の一覧・編集・削除', users_path %>
  </div>
</div>

<div>
  <h2></h2>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div>
  <input type="text" id="user_lng">
  <input type="text" id="user_lat">
</div>

<script type="text/javascript">
 handler = Gmaps.build('Google');
 handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers(<%=raw @hash.to_json %>);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
   google.maps.event.addListener(handler.getMap(), "click", function(e) {
     $('#user_lat').val(e.latLng.lat());
     $('#user_lng').val(e.latLng.lng());
     /* handler.addMarkers(
      *   [
      *     {
      *       lat: e.latLng.lat(),
      *       lng: e.latLng.lng(),
      *       picture: {
      *         url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      *         width: 36,
      *         height: 36
      *       }
      *     }
      *   ],
      *   {draggable: true}
      * )*/
     // alert("You clicked the map.");
     // alert("" + e.latLng.lng() + " / " + e.latLng.lat());
   });
 });

</script>
